.marquee {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 40px 0;
  overflow: hidden;
  white-space: nowrap;
}

.inner {
  display: flex;
  gap: 60px;
}

.inner span {
  font-family: var(--font-primary);
  font-weight: 900;
  font-size: clamp(2rem, 8vw, 6rem);
}
